.ap-blog-hdbg {
    /* background-image: url(../images/blog-bg.svg); */
    background-image: url(../images/header-bg-contact.png);

    background-size: cover;
    background-repeat: no-repeat;
    height: 434px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ap-blog-hdbg .liquor-licence-state {
    margin: 0px 0 30px 0;
}

.blog-heading h2 {
    
    color: #000;
    font-size: 20px;
    font-weight: 800;
    position: relative;
}



.blog-heading p {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.blog-crdimg img {
    width: 100%;
    /* border-radius: 20px 20px 0 0; */
}

.blog-date p {
    color: #969696;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 24px;
}

.blog-date {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.blog-imgheading h2 {
    color: #323232;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}

.blog-imgheading p {
    color: #646464;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 16px;
}

.bic-txt h5 {
    color: #343A40;
    font-size: 16px;
    font-weight: 700;
}

.bic-txt h5 span {
    color: #495057;
}

.bic-txt p {
    color: #6C757D;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.blog-card {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    /* max-width: 395px; */
}

.blog-space {
    padding: 20px 24px 24px 24px;
}

.blogimg-content {
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid #E5E5E5;
    padding-top: 20px;
}

.blog-card-bg .row .col-lg-3 {
    padding-right: 8px;
}

.blog-card-bg .row {
    row-gap: 30px;
}

.blog-card-bg {
    padding-top: 30px;
}

.blog-content {
    padding-top: 40px;
    padding-bottom: 80px;
}

.blog-card-listing{
    padding-top: 30px;
}

.blog-card:hover{
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.18);
}
.blog-crdimg {
    overflow: hidden; 
    border-radius: 20px 20px 0 0;
}

.blog-card .blog-crdimg img {
    transition: transform 0.3s ease;
}

.blog-card:hover .blog-crdimg img {
    transform: scale(1.1);
}

.blog-card-bg a{
    text-decoration: none;
}



@media (max-width:992px){
   
    .blog-heading p {
        font-size: 20px;
    }
    .blog-card-bg {
        padding-top: 50px;
    }
    .blog-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media (max-width:767px){
    .blog-card-bg .row .col-lg-3 {
        padding-right: 12px;
    }
    .blog-content {
        padding-top: 20px;
        padding-bottom: 50px;
    }
    
   
    .blog-heading p {
        font-size: 16px;
    }
    .blog-card-bg {
        padding-top: 10px;
    }
   
}