* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Futura Now Headline';
}

@media (min-width : 1280px) {
    .container {
        max-width: 1640px;
    }
}


/* ===========Banner-section  */
.eval-bg-img {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../Evaluate/images/Eval-bnr-img.png');
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.eval-bnr-head {
    position: relative;
    max-width: 720px;
    text-align: center;
    padding-top: 180px;
    margin: 0 auto;
}

.eval-bnr-head::before {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: white;
    left: -12%;
    transform: translate(0px, 29px);
}

.eval-bnr-head::after {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: white;
    right: -12%;
    transform: translate(0px, -29px);

}


.eval-bnr-head h2 {

    font-size: 49px;
    font-weight: 400;
    line-height: 1.1;
    color: white;
}


/* ================Form section  */
.form-content {
    margin: auto;
    position: relative;
    top: -126px;
    max-width: 1377px;
    border-radius: 32px;
    padding: 80px;
    background-color: white;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.15);
}

.form-content p {
    margin: 0;
    padding-bottom: 60px;
    font-size: 31px;
    font-weight: 400;
    color: rgba(100, 100, 100, 1);

}


/* ===form-content  */
.form-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.form-info-1 {
    display: flex;
    gap: 24px;
}

.info-cc {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    outline: none;
    appearance: none;
}

.form-info-2 {
    display: flex;
    gap: 24px;
}

.input-cc {
    padding: 16px 14px;
    border-radius: 8px;
    border: 1px solid rgba(150, 150, 150, 1);
}

.input-cc::placeholder {
    font-size: 16px;
    font-weight: 400;
    color:
        rgba(150, 150, 150, 1);
}

.input-cc option {
    font-size: 16px;
    font-weight: 400;
    color:
        rgba(150, 150, 150, 1);
}

#lable-cc {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 8px;
}

.sub-btn {
    text-align: center;
}

#info-sub-btn {
    min-width: 590px;
    background-color: unset;
    border: none;
    outline: none;
    background-color: rgba(255, 70, 0, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;

}



/* =============================Media qurey  */

/* =============1280px */

@media (max-width : 1280px) {

    .form-content {
        max-width: 1077px;
    }

    .form-content {
        padding: 60px;
    }

    .input-cc {
        padding: 14px 14px;
    }
}

/* ======================================1024px */
@media (max-width : 1024px) {

    .eval-bnr-head::before {
        display: none;
    }

    .eval-bnr-head::after {
        display: none;
    }

    .eval-bnr-head h2 {
        font-size: 42px;
    }

    .form-content {
        max-width: 677px;
    }

    .form-content p {
        font-size: 32px;
        padding-bottom: 30px;
    }

    #lable-cc {
        font-size: 22px;
    }

    #info-sub-btn {
        min-width: 390px;
    }
}

/* =========================767px */
@media (max-width : 767px) {
    .eval-bnr-head h2 {
        font-size: 32px;
    }

    /* form  */
    .form-content {
        max-width: 377px;
    }

    .form-content p {
        font-size: 28px;
        text-align: center;
    }

    #lable-cc {
        font-size: 18px;
    }

    .form-info-1 {
        flex-direction: column;
    }

    .form-info-2 {

        flex-direction: column;
    }

    #info-sub-btn {
        min-width: 240px;
    }
}