@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Futura Now Headline';
}

@media (min-width : 1280px) {
    .container {
        max-width: 1640px;
    }
}

/* banner-section-start */


.alcohol-permit-hdbg {
    background-image: url(../alcohol-permit/alcohol-permit/images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alcohol-permit-hd {
    position: relative;
    z-index: 1;
}

.alcohol-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.alched-list ul {
    display: flex;
    gap: 34px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.alched-list ul li a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.3s;
}

.alc-number {
    border-radius: 8px;
    background: #FF4600;
    border: 1px solid #FF4600;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    /* align-items: center; */
    gap: 12px;
    /* padding: 7px 24px; */
    padding: 8px 24px 4px 24px;
    text-decoration: none;
}

.alc-number:hover svg path {
    fill: #FF4600;
}

.alc-number:hover {
    color: #FF4600;
    background-color: unset;
    border: 1px solid #FF4600;
}

.alc-register {
    border-radius: 8px;
    border: 1px solid #FF4600;
    color: #FF4600;
    font-size: 20px;
    font-weight: 400;
    padding: 6px 26px;
}

.alc-register:hover {
    background-color: #FF4600;
    color: white;
    border: 1px solid #FF4600;
}

.alched-regist-num {
    display: flex;
    align-items: center;
    gap: 24px;
}

.alc-list-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.alched-list .sub-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    background-color: #FF4600;
    padding: 10px;
    border-radius: 10px;
}

.alched-list li:hover .sub-menu {
    display: block;
    opacity: 1;
}

.alched-list .sub-menu li a:hover {
    color: black;
}

.alched-list li a:hover {
    color: #FF4600;
}

.alc-list-item:hover svg path {
    stroke: #FF4600;
}

.liquor-licence h1 {
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 49px;
    font-weight: 400;
    margin: 0;
}

.liquor-licence h1::before {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: white;
    left: 30%;
    top: 60%;
}

.liquor-licence h1::after {
    position: absolute;
    content: '';
    width: 60px;
    height: 4px;
    background-color: white;
    right: 30%;
    top: 60%;
}

.liquor-licence-state {
    border-radius: 120px;
    background: #FFF;
    box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.09);
    display: flex;
    padding: 33px 40px 33px 62px;
    justify-content: space-between;
    margin: 50px 0 60px 0;

}

.lls-state h5 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.lls-state-dropdown select {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background-color: unset;
    appearance: none;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 175px;
    outline: none;
    cursor: pointer;
}

.lls-state-line {
    position: relative;
}

.lls-state-line:after {
    position: absolute;
    content: '';
    width: 0.75px;
    height: 66px;
    background-color: #D8D8D8;
    top: 0;
    left: -62px;
}

.lls-state-line::before {
    position: absolute;
    content: '';
    width: 0.75px;
    height: 66px;
    background-color: #D8D8D8;
    top: 0;
    right: -62px;
}

.lls-search {
    border-radius: 64px;
    background: #FF4600;
    padding: 20px;
    transition: 0.3s;
}

.lls-search:hover {
    background: #FF460044;
}

.lls-search svg path {
    transition: 0.3s;
}

.lls-search:hover svg path {
    fill: #FF4600;
}

.lls-search button {
    border: none;
    background-color: unset;
}

.liquor-licence {
    max-width: 1044px;
    margin: 0 auto;
}

.liquor-licence-btn a {
    color: var(--Primary-color, #FF4600);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 52px;
    border: 1px solid #FF4600;
    padding: 16px 28px;
    transition: 0.3s;
}

.liquor-licence-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* .liquor-licence-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.liquor-licence-btn a:hover {
    background-color: #FF4600;
    color: white;
}

.liquor-licence-btn a:hover svg path {
    fill: white;
    transition: 0.3s;
}





/* Banner-section-end */

/* ========Contact-section  */
.contact {
    position: relative;
    background-color:
        rgba(216, 216, 216, 1);
}

.cnt-bg-img {
    
    max-width: 50%;
    height: 150vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../ContactUs/images/cnt-bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cnt-info {
    position: absolute;
    left: 27%;
    top: 92px;
    display: flex;
    gap: 66px;
}

/* ========Form-section  */
.inquri {
    max-width: 514px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

.inquri h3 {
    font-size: 31px;
    font-weight: 500;
    line-height: 1.1;
    color: #646464;
}

/* ============Contact cards  */
.contact-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.card-name p {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 70, 0, 1);
    line-height: 1.2;
}

.card-name span {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(100, 100, 100, 1);
    line-height: 1.1;
}



.card-info {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.card-1 {
    padding: 24px 30px;
    background-color:
        rgba(244, 244, 244, 1);
    border-radius: 16px;
    display: flex;
    gap: 24px;

}

.card-loca p {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    color:
        rgba(100, 100, 100, 1);
}

.card-loca span {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color:
        rgba(150, 150, 150, 1);
}

.card-links {
    display: flex;
    justify-content: space-between;
}

.card-links a {
    display: block;
    padding: 12px 24px;
    border: 1px solid rgba(216, 216, 216, 1);
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
    color:
        rgba(50, 50, 50, 1);
}



/* ========Message-box */
.msg {
    max-width: 693px;
    height: max-content;
    background-color: white;
    padding: 60px;
    border-radius: 24px;

}

.msg-top {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.msg-head {
    max-width: 573px;
    position: relative;
}

.msg-head::before {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: black;
    top: 52%;
    left: 0px;
    transform: translate(0px);
}

.msg-head::after {
    content: ' ';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: black;
    top: 52%;
    right: 20%;
    transform: translate(0px);
}


.msg-head h5 {
    padding-left: 74px;
    font-size: 49px;
    font-weight: 400;
    line-height: 1.1;
    color: black;
}

.msg-top p {
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
    color:
        #646464;
}


.msg-frm {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.msg-info input {
    padding: 16px 14px;
    font-size: 16px;
    font-weight: 400;
    color:
        rgba(50, 50, 50, 1);
    width: 100%;
    background: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(150, 150, 150, 1);
}

.msg-info input:hover {
    border: 1px solid rgba(251, 36, 36, 1);
}

.msg-info {
    position: relative;
}

.msg-info label span {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    color:
        rgba(50, 50, 50, 1);
    padding: 0 5px;
    top: 40px;
    left: 14px;
}

.msg-info label span {
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.move-up {
    transform: translateY(-28px);
    color: rgba(100, 100, 100, 1);
    background-color: white;
    max-width: max-content;
    border-radius: 3px;
}


.text-msg {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.text-msg label {
    font-size: 24px;
    font-weight: 500;
}

.text-msg .fix-size {
    padding-left: 10px;
    border: 1px solid rgba(150, 150, 150, 1);
    border-radius: 8px;
    resize: none;
    height: 120px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    color:
        rgba(50, 50, 50, 1);
}

.text-msg .fix-size:hover {
    border: 1px solid rgba(251, 36, 36, 1);
}

.aggrement>p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
}

.check-box {
    display: flex;
    align-items: start;
    gap: 10px;
}

.check-box p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.1;
    font-family: Roboto;
    color:
        #969696;
}

.msg-frm button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: unset;
    outline: none;
    background-color: red;
    color: white;
    padding: 16px 14px;
    border-radius: 8px;

}

/* ==============Addres-section  */

.addr-sec {
    margin-top: -87px;
}

.loca-logo-img {
    margin: 0 auto;
    max-width: 500px;
}

.location {
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
    padding-bottom: 40px;
    border-radius: 24px;
    background-color: #323232;
}

.social-link {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loco-addrs {
    margin: 0 auto;
}

.loco-addrs img {
    width: 100%;
}

.loco-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.loco-add :nth-child(1) {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.1;
    color: white;
}

.loco-add :nth-child(2) {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

/* =============Location-section  */
.loca-container {
    padding-top: 120px;
}

.loca-head {
    margin: 0 auto;
    max-width: 672px;
    position: relative;

}

.loca-head::after {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    top: 0px;
    left: 0px;
    transform: translate(10px, 26px);
}

.loca-head::before {
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    top: 0px;
    right: 0px;
    transform: translate(-7px, 26px);
}

.loca-head h2 {
    font-size: 39px;
    font-weight: 400;
    line-height: 1.1;
    text-align: center;
}

.loca-head p {
    margin: 0;
    padding-top: 12px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.8;
    color: rgba(10, 100, 100, 1);
    text-align: center;

}

.loca-map {
    padding-top: 60px;
    width: 100%;
    height: 40vh;



}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    z-index: -1;

}

/* ===================================media query */

/* =========================1280px */

@media (max-width : 1280px) {

    .cnt-info {
        position: absolute;
        left: 7%;
        top: 28px;
    }

    .msg {
        margin-left: 0px;
        max-width: 553px;
        height: max-content;
        background-color: white;
        padding: 60px;
        border-radius: 24px;
    }

    .msg-head::after {
        right: -6%;
    }
}

/* ======================================1024px */
@media (max-width : 1024px) {
    .inquri {
        max-width: 514px;
        margin-top: 30px;
    }

    .cnt-info {
        position: unset;
        flex-direction: column;
        align-items: center;

    }

    .cnt-bg-img {
        max-width: 100%;
        height: unset;
    }

    .msg {
        margin-bottom: 30px;
    }

    .addr-sec {
        margin-top: 30px;
    }

    .loca-container {
        padding-top: 30px;
    }
}

/* ==============767px */
@media (max-width : 767px) {
    .inquri {
        padding: 30px 15px;
    }

    .inquri h3 {
        font-size: 28px;
    }

    .inquri {
        gap: 20px;
    }

    .card-name p {
        font-size: 18px;
    }

    .card-name span {
        font-size: 12px;
    }

    .card-info {
        padding-top: 20px;
    }

    .card-1 {
        padding: 10px 15px;
    }

    .card-loca p {
        font-size: 18px;
    }

    .card-loca span {
        font-size: 12px;
    }

    .card-links {
        flex-direction: column;
        gap: 10px;
    }

    .card-links a {
        text-align: center;
    }


    .msg {
        padding: 30px;
        max-width: 314px;
    }

    .msg-head h5 {
        text-align: center;
        padding-left: 0px;
        font-size: 28px;
        color: black;
    }

    .msg-head::after {
        display: none;
    }

    .msg-head::before {
        display: none;
    }

    .msg-top p {
        font-size: 18px;
        text-align: center;
    }

    .msg-frm {
        gap: 15px;
    }

    .text-msg label {
        font-size: 18px;

    }

    .aggrement>p {
        font-size: 18px;
    }

    .loca-logo-img {
        text-align: center;
    }

    .loca-logo-img img {
        width: 80%;
    }

    .loco-add :nth-child(1) {
        font-size: 18px;
    }

    .loco-add :nth-child(2) {
        margin: 0;
        font-size: 12px;
    }

    .loca-head::after {
        display: none;
    }

    .loca-head::before {
        display: none;
    }

    .loca-head h2 {
        font-size: 28px;
    }

    .loca-head p {
        font-size: 16px;

    }

    .loca-map {
        padding-top: 40px;
    }
}