

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Futura Now Headline';
}

@media (min-width : 1280px) {
.container{
        max-width: 1640px;
    }
}


/* ====================================About us section  */



.ap-about-hdbg{
    background-image: url(../images/abu-img-bg.png);
    height: 434px;
    margin: 0;
}

.ap-about-hdbg .liquor-licence-state {
    margin: 50px 0 30px 0;
}


.about-content{
    margin: 0 auto;
    max-width: 1236px;
    padding-top: 100px;
    text-align: center;
}
.about-head{
    margin: 0 auto;
    position: relative;
    max-width: 388px;
}
.about-head h2{
    margin: 0;
    font-size: 61px;
    font-weight: 400;
    line-height: 1.1;

}
.about-head::before{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.about-head::after{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.about-content p{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.6;
    color: 
    rgba(100, 100, 100, 1);
}
/* =========================History section */
.history-content{
    padding: 140px 0px;
    
}
.his-cont-sec{
    padding-right: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* width: 100%; */
    height: 100%;
}
.his-head {
   width: 293;
    text-align: center;
    position: relative;
}
.his-head h2{
    margin: 0;
    padding: 0px 74px;
    font-size: 61px;
    font-weight: 400;
    line-height: 1.1;
}
.his-head::before{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.his-head::after{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
   right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}


.his-paras p{
    margin: 0;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(50, 50, 50, 1);
}
.his-paras p span{
    font-weight: 500;
}

/* ===============History-img */

.his-paras{
    padding-top: 20px;
}
.alco-img{
    /* max-width: 854px; */
    width: 100%;
}
.alco-img img{
    border-radius: 30px;
    box-shadow: 30px 35px 0px 1px rgba(255, 70, 0, 0.2);

}

/* =========================================Prompt-section  */
/* ==========Prompt-img */
.prom-cont-sec{
    padding-top: 140px;
    padding-bottom: 180px;
}
.prom-img {
    max-width: 854px;
    margin-left: 31px;
}
.prom-img img{
    border-radius: 30px;
    box-shadow: -44px 44px 0px 0px rgba(255, 70, 0, 0.2);
}
/* =============Promp-content  */
.prom-cont{
    /* width: 100%; */
    height: 100%;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.prom-head{
    width: 361px;
    text-align: center;
    position: relative;
}
.prom-head h2{
    margin: 0;
    /* padding: 0px 74px; */
    font-size: 61px;
    font-weight: 400;
    line-height: 1.1;
}
.prom-head::before{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.prom-head::after{
    position: absolute;
    content: ' ';
    width: 60px;
    height: 4px;
    background-color: black;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.prom-para p{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.7;
    color: rgba(50, 50, 50, 1);
}
.prom-para p span{
    font-weight: 500;
    color: rgba(50, 50, 50, 1);
}

/* ==================================Values-section  */
#his-cont-sec{
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* ======================================================Ethics-section  */
/* ==================================Media queri */
@media (max-width : 1280px) {
    /* =======About us -section  */
   
     .about-head h2 {
        font-size: 48px;
    }
    .about-content p {
        font-size: 18px;
    } 
    /* ===============History-section */
    .alco-img img {
        width: 95%;
    }
    .history-content {
        padding: 140px 0px 0px 0px;
    }
     .his-head h2 {
        font-size: 48px;
    }
    .his-head h2 {
        margin: 0;
        padding: 0px 74px;
        font-size: 48px;
        font-weight: 400;
        line-height: 1.1;
    } 
    /* ============Prompt-section */
    .prom-img {
        text-align: center;
    }
    .prom-img img {
        width: 95%;
    }
    .prom-cont-sec {
        padding-bottom: 180px;
    }
    .prom-cont {
        margin-left: 0px;
        padding-left: 81px;
    }
     .prom-head h2 {
        font-size: 48px;
    }
    .prom-para p {
        font-size: 18px;
    } 
    /* =============Value-section */
    .his-paras p {
        font-size: 18px;
    } 
}
/* =====================================Media queri 1024px */
@media (max-width : 1024px){
/* =======About us  */

.about-head::before {
    transform: translate(-80%, -80%);
}
.about-head::after {
    transform: translate(80%, -80%);
}

.about-content p {
    padding-bottom:0px;
}

/* ============Hiatory-section  */

.his-cont-sec {
    padding-top: 70px;
    padding-right: 0px;
    align-items: center;
}


    .history-content {
        padding: 70px 0px 0px 0px;
    }
    .alco-img img {
        width: 80%;
        box-shadow: 15px 15px 0px 1px rgba(255, 70, 0, 0.2);
    }
    .alco-img {
        text-align: center;
    }
    .his-cont-sec {
        padding-top: 50px;
        padding-right: 0px;
        align-items: center;
    }
    .his-paras {
        text-align: center;
    }
    /* =====================Prompt */
    .prom-cont-sec {
        padding-bottom: 0px;
        padding-top: 70px;
    }
    .prom-cont {
        padding-top: 70px;
        padding-left: 0px;
    }
    .prom-img {
        margin-left: 0px;
        text-align: center;
    }
    .prom-img img {
        width: 80%;
        box-shadow: -15px 15px 0px 0px rgba(255, 70, 0, 0.2);
    }
    .prom-cont {
        padding-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .prom-para p {
        text-align: center;
    }
    /* =============Values */
    #his-cont-sec {
        padding-top: 70px;
    }
}
@media (max-width : 767px){
    /* AboutUs heading  */
    .about-head h2 {
        font-size: 20px;
    }
    .his-paras p {
        font-size: 16px;
    }
    .about-content p {
        font-size: 14px;
    }
    .about-head::after {
        width: 30px;
        transform: translate(-120%, 0px);
    }
    .about-head::before {
        width: 30px;  
        transform: translate(120%,0%);
    }

    /* ======History section  */
    .his-head h2 {
        font-size: 20px;
    }
    .his-head::before {
        position: absolute;
        content: ' ';
        width: 30px;
        height: 3px;
        background-color: black;
        left: 0px;
        top: 68%;
        transform: translate(100%, 0%);
    }
    .his-head::after {
        width: 30px;       
        transform: translate(-100%, 0%);
    }
}


/* =====================Media query (767px) */

@media (max-width : 767px){


    /* =========About */
    .about-content {
        padding-top: 30px;
    }
    .about-head h2 {
        font-size: 24px;
    }
    .about-content p {
        font-size: 16px;
        padding-top: 10px;
    }
    .his-cont-sec {
        padding-top: 40px;
    }

    .about-head::after {
        display: none;
    }
    .about-head::before {
        display: none;
    }
    
    /* =========History */
    .his-head::before {
        display: none;
    }
   
    .his-head::after {
      display: none;
    }
    .his-head h2 {
        font-size: 24px;
    }
    /* ===========Promot */
    .prom-cont-sec {
        padding-top: 20px;
    }
    .prom-cont {
        padding-top: 35px;
    }
    .prom-head::before {
        display: none;
    }
    .prom-head::after {
       display: none;
    }
    .prom-head h2 {
        font-size: 24px;
    }
    .prom-cont {
        padding-left:0px;
    }
    .prpa-pading{
        padding-bottom: 20px;
    }
    .prom-para p {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .his-paras {
        padding-top: 10px;
    }

     /* ===========values */

     .history-content {
        padding: 35px 0px 0px 0px;
    }
    #his-cont-sec {
        padding-top: 35px;
    }
    .ap-about-hdbg {
        height: unset;
    }
}


